<!DOCTYPE html>
<html>
  <head>
    <title>Spirited</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <script src="https://kit.fontawesome.com/e3f8bed47c.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Quicksand|Ubuntu&display=swap" rel="stylesheet">
  </head>

  <script type='text/javascript'>
    window.starOutline = '<%= image_url('star_outline_blue.png') %>'
    window.starFilled = '<%= image_url('star_filler_gold.png') %>'
    window.addButton = '<%= image_url('add_button.png') %>'
    window.awardIcon = '<%= image_url('blue_ribbon.png') %>'
    window.reviewIcon = '<%= image_url('rating_icon.png') %>'
    window.notesIcon = '<%= image_url('testimonial.png') %>'
    window.github = '<%= image_url('github.png') %>'
    window.linkedIn = '<%= image_url('linkedin.png') %>'
    window.cancel = '<%= image_url('close_icon.png') %>'
  </script>

  <body>
    <%= yield %>
  </body>
</html>
