<!DOCTYPE html>
<html>
  <head>
    <title>Spirited</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Ubuntu&display=swap" rel="stylesheet">
  </head>

  <script type='text/javascript'>
    window.starOutline = <%= image_url('star_outline_gold.png') %>
    window.starFilled = <%= image_url('star_filler_gold.png') %>
    window.sessionBottle = <%= image_url('bottle-pixabay.jpg') %>
    window.sessionSnifter = <%= image_url('snifter-pixabay.jpg') %>
  </script>

  <body>
    <%= yield %>
  </body>
</html>
